*{margin: 0;padding: 0;}
.content{min-width1120px;overflow-y:scroll;width:100%;height:100%;background:#fff;}
a{text-decoration: none;}
ul,li{list-style: none;display: block;}
.white{color:#ffffff;}
.black{color:black;}
.green{color: lightgreen;}
.f18{font-size: 18px;}
.f22{font-size: 22px;}
.f14{font-size: 14px;}
.f12{font-size: 12px;}
.f16{font-size: 16px;}
.clear{clear:both;}
.lgreen{background: #30c37c;}
.gray{color:#7f7f7f;}
.center{text-align: center;}
.ccc
{
	color:#333;
}
body
{
	color: #333;
	background-color: #fff;
	font-size: 14px;
	line-height: 1.5;
	font-family: poppin,'PingFang SC',Tahoma,Arial,微软雅黑,sans-serif;"微软雅黑";
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar 
{ 
	width: 10px; 
}
::-webkit-scrollbar-track
{
 	width: 10px;
 	background: #FFFFFF;
} 
/* Handle */ 
::-webkit-scrollbar-thumb
 { 
 	-webkit-border-radius: 5px;
 	border-radius: 5px; 
 	background: #cccccc;
} 
::-webkit-scrollbar-thumb:hover
{
  background:#666666;
} 
.content
{
	min-width: 1240px;
	overflow: hidden;
}
.nav
{
	width:100%;
	/*padding-top:90px;*/
	height: 142px;
	position: relative;
}
.nav-top
{
	max-width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	position: relative;
	height: 90px;
}
.logo
{
	width: 190px;
	height: 52px;
	background:url(../img/logo.png) no-repeat center center;
	float:left;
	position: relative;
	top:19px;
	left:0px;
}
.nav-item ul
{
	position: absolute;
	left: 225px;
	top: 0;
}
.nav-item ul li 
{	
	float: left;
}
.nav-item ul li a
{
	display: block;
	text-align: center;
	height: 90px;
	line-height: 90px;
	padding: 0 20px;
	font-size: 18px;	
} 
.nav-item ul li a:hover
{
	color:#31c27c;
}
.right
{
    height: 90px;
    line-height: 90px;
    width:273px;
    float: right;
}

.nav-login
{
	display: block;
	font-size: 16px;
	width: 38px;
	margin-right: 21px;
	text-align: center;
	float: left;
}
.nav-login:hover
{
	color:#31c27c
}
.nav-vip
{
	display: block;
	font-size: 14px;
	width: 115px;
	text-align: center;
	background:#30c37c;
	float: left;
	margin-right: 5px;
	vertical-align: middle;
	height: 40px;
	line-height: 40px;
	margin-top: 25px;
	color:#fff;
}
.nav-vip:hover
{
	background:#2caf6e;
	color:#fff;
}
.nav-price
{
    display: block;
	font-size: 14px;
	width: 75px;
	text-align: center;
	float: left;
	vertical-align: middle;
	height: 40px;
	line-height: 40px;
	margin-top: 25px;
	border: 1px solid #c9c9c9;
	padding: 0 6px;	
	color:#333;
}
.nav-price:hover
{
	background:#ededed;
	color:#333;
}
.nav-content-item
{
	height: 51px;
    line-height: 51px;
    border-top: 1px solid #f2f2f2;
    padding-left: 256px;
    
}
.nav-bottom ul li
{
	display: block;
	float:left;
	font-size: 15px;
	color: #c1c1c1;
	margin-right: 56px;
	display: block;
}
.nav-content-item  li a
{
	font-size: 15px;
	color:#333;
	display: block;
	float: left;
}
.nav-content-item  li a:hover
{
	color:#31c27c
}
.pic
{
	width:300px;
	height: 204px;
	overflow: hidden;
	position: relative;
}
.mask
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #7F7F7F;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.play
{
	position: absolute;
    left:50%;
    top:50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    filter: alpha(opacity=0);
     opacity: 0;
    -webkit-transform: scale(.7);
    -webkit-transition-property: opacity,-webkit-transform;
    -webkit-transition-duration: .5s;
    transform: scale(.7);
    transition-property: opacity,transform;
    transition-duration: .5s;
    zoom: 1;
}
.bg
{
    transition: transform .75s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 567px;
}
.op
{
	opacity: 0.5;
}
.opAll
{
	opacity: 1;
}
.sp100
{
	margin-left:100px;
}
h1
{
	font-weight: normal;
	text-align: center;
}
.nav-input
{
	position: absolute;
	top: 0;
	right: 294px;
}
.mod_search_input
{
	border: 1px solid #c9c9c9;
	padding: 0 33px 0 15px;
	line-height: 36px;
	height: 36px;
	margin-top: 26px;
	position: relative;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: width .6s ease-out;
	transition: width .6s ease-out;
}
.nav-input input
{
   width: 200px;
	height: 36px;
	border: 0 none;
	font-size: 14px;
	background: 0 0;
	-webkit-transition: width .6s ease-out,visibility .6s 1ms ease-out;
	transition: width .6s ease-out,visibility .6s 1ms ease-out;
}
.btn
{
	position: absolute;
	top: 0;
	right: 0;
	float:left;
	border: 0 none;
	width: 38px;
	height: 35px;
	overflow: visible;
	background: 0 0;
}
.icon-search
{
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    background: url(../img/icon_sprite.png) no-repeat 0 -40px;
}
.icon-txt {
    font: 0/0 a;
}
}
.nav-bottom
{
    width: 1200px;
	margin: 0 auto;
    height: 51px;
}

/*底部导航*/
.footer
{
	height:475px;
	width:100%;
	background:#333;
}
.info
{
	height: 280px;
	padding:50px 0px 0px 10px;
	border-bottom:0.2px solid #CCCCCC;
}
.leftInfo
{
	width: 355px;
	float: left;
    height: 280px;
    float: left;
}
.leftInfo ul li,.midInfo ul li
{
	width:65px;
	height: 77px;
	float:left;
	padding:5px 5px 0px 5px;
	margin-right:10px;
}
.leftInfo ul li:hover p,.midInfo ul li:hover p
{
	color:#31c27c;
	cursor: pointer;
}
.leftInfo ul li p,.midInfo ul li p
{
	height: 34px;
	line-height: 34px;
	width:65px;
}
.leftInfo span,.midInfo span
{
	height:48px;
	display: block;
	width:65px;
}
.win
{
	background:url(../img/footer.png) no-repeat 0 0;
}
.win:hover
{
	background:url(../img/footer.png) no-repeat 0 -48px;
}
.mac
{
	background:url(../img/footer.png) no-repeat -92px 0;
}
.mac:hover
{
	background:url(../img/footer.png) no-repeat -92px -48px;
}
.an
{
	background:url(../img/footer.png) no-repeat -184px 0;
}
.an:hover
{
	background:url(../img/footer.png) no-repeat -184px -48px;
}
.iphone
{
	background:url(../img/footer.png) no-repeat -276px 0;
}
.iphone:hover
{
	background:url(../img/footer.png) no-repeat -276px -48px;
}
.sing
{
	background:url(../img/footer.png) no-repeat -368px 0;
	width:48px;
}
.sing:hover
{
	background:url(../img/footer.png) no-repeat -368px -48px;
	width:48px;
}
.super
{
	background:url(../img/footer.png) no-repeat -460px 0;
	width:65px;
}
.super:hover
{
	background:url(../img/footer.png) no-repeat -460px -48px;
	width:65px;
}
.QPlay
{
	background:url(../img/footer.png) no-repeat -552px 0;
	width:48px;
}
.QPlay:hover
{
	background:url(../img/footer.png) no-repeat -552px -48px;
	width:48px;
}
.midInfo
{
	width: 340px;
	height: 280px;
	float:left;
}
.icon
{
	width:100%;
	height: 80px;
	margin-bottom:20px;
	margin-top:10px;
}
.word
{
	height: 23px;
	line-height:23px;
}
.word a
{
	display:inline-block;
	margin-right:15px;
}
.rigInfo
{
	width:300px;
	height: 280px;
	float:right;
}
.rigInfo ul li
{
	display:block;
	width:100px;
	height: 30px;
	line-height: 30px;
	float:left;
}
.botWord
{
	width: 1200px;
	height:100px;
	margin: 0 auto;
	padding-top:40px;
}
.footer a:hover
{
	color:#31c27c;
}
/*MV首播*/
.mv
{
	background:#e6e6e6;
	height:880px;
}
.title
{
	width: 490px;
	height: 48px;
	padding-top: 80px;
	margin: 0 auto 50px;
	font-size: 22px;
}
.list
{
	height: 50px;
	text-align: center;
	margin-bottom:20px;
}
.list a
{
	margin:0 35px;
	font-weight: bold;
}
.mv .list a:hover
{
	color:black;
}
.newSong .list a:hover
{
	color:#ffffff;
}
.mvDetail,.hotSong,.new-Song
{
	min-width: 1200px;
	max-width: 1200px;
	margin:0 auto;
	height:610px;
}
.rankDtail
{
	margin:0 auto;
	max-width: 1200px;
	min-width: 1200px;
	height:567px;
}
.rank-list-item
{
	height:567px;
	float: left;
	width: 25%;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.top-title
{
	position: absolute;
	width: 200px;
	height: 110px;
	left:50%;
	margin:-100px;
	top:150px;
}
.rank-list
{
	width:100%;
	height: 567px;
}
.little
{
	height: 24px;
	display: block;
	line-height: 24px;
	font-size: 24px;
	margin-bottom:5px;
	font-family:'宋体' ;
	font-weight: normal;
}
.big
{
	height: 36px;
	line-height: 36px;
	font-size: 36px;
}
.popSong
{
	position: absolute;
	width:180px;
	height: 222px;
	bottom: 50px;
	left:50%;
	margin-left:-90px;
}
.mvList,.songList,.rank-list
{
	display:block;
	width:100%;
}
.mvList-item,.hotSong-item
{
	float: left;
	width: 25%;
	padding-bottom: 44px;
	overflow: hidden;
	height: 304px;
	padding-bottom: 0;
	text-align: center;
	position:relative;
}
h3
{
	margin-top:10px;
	text-align: center;
	font-weight: normal;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.singer,.listen
{
	height: 24px;
	line-height: 24px;
}
.songDetai
{
	padding:30px;
}
.rankList
{
	width:100%;
	height:830px;
	background:url(../img/bg_index_top2.jpg);
}
.wonRecom
{
	height: 650px;
	width: 100%;
}
.wonList
{
	width: 1200px;
	height: 432px;
	margin:0 auto;
	overflow: hidden;
}
.newSong
{
	height: 735px;
	background: url(../img/bg_index_new.jpg);
	width:100%;
}
.mvList-item:hover img,.pic:hover img
{
	overflow: hidden;
	cursor:pointer;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition:all 500ms ease;
	transition:all 500ms ease;
}
.mvList-item:hover .mask,.pic:hover .mask
{
	opacity: 0.3;
	cursor: pointer;
}
.mvList-item:hover .play,.pic:hover .play,.rank-list-item:hover .play
{
	opacity: .9;
    -webkit-transform: scale(1);
    -webkit-transition-property: opacity,-webkit-transform;
    -webkit-transition-duration: .5s;
    transform: scale(1);
    transition-property: opacity,transform;
    transition-duration: .5s;
	background: url(../img/cover_play.png);
	cursor: pointer;
}
.rank-list-item:hover .bg
{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
	cursor:pointer;
}
.hotSong-item:hover .songDetai
{
	background: #30C37C;
	cursor: pointer;
}
